body {
  margin: 0;
  background: #D8D8D8;
}
body > section {
  z-index: 2;
  width: 100%;
  position: sticky;
  top: 0;
  display: flex;
  background: #0008;
  justify-content: space-between;
}

span {
  margin: 0;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

:root {
  --the-color: #f00;
}

.buildingText {
  color: #73060F;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  letter-spacing: 8.568px;
}

.textRotate {
  transform: rotate(270deg);
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 54.77px;
  position: absolute;
  top: 332px;
  left: -64px;
}

.buildingShadow {
  width: 50px;
  height: 90%;
  background: rgba(216, 216, 216, 0.6);
  clip-path: polygon(0 0, 100% 8%, 100% 95%, 0% 100%);
  display: block;
  position: absolute;
  top: 0;
  right: -49px;
  z-index: 1;
}

.logo {
  position: absolute;
  top: 13%;
  left: 10%;
}

.loginContainer {
  grid-column: 2/4;
  grid-row: 1;
  justify-self: center;
}

.firstBuidingLayer {
  position: absolute;
  right: 0;
  display: grid;
  justify-content: end;
  top: 5%;
}

.roof,
.floor,
.firstFloorContainer,
.nextRoof,
.nextFloor,
.wall {
  background-color: white;
  display: block;
}

.roof,
.floor {
  text-align: left;
  margin-bottom: 20px;
  position: relative;
  right: -51%;
}
.roof::after,
.floor::after {
  content: "";
  background-color: #c4c4c4;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%);
  display: block;
  width: 265px;
  height: 21px;
  top: 100%;
  left: 0;
  position: absolute;
}

.roof {
  height: 71px;
  padding-left: 20px;
  padding-top: 20px;
  width: 246px;
}

.floor {
  height: 55px;
  padding-left: 20px;
  padding-top: 10px;
  width: 245px;
}

.firstFloorContainer {
  width: 535px;
  height: 344px;
}

.windows,
.window {
  display: block;
  height: 60px;
}

.windows {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
  margin-top: 11%;
  justify-items: center;
}

.window {
  width: 100%;
  background-color: #c4c4c4;
}

.secondBuildingLayer {
  margin-top: 12vh;
  grid-column: 1/2;
  grid-row: 1;
}

.nextFloor,
.nextRoof,
.lastFloor,
.wall {
  border: 1px solid #979797;
  box-sizing: border-box;
  margin-bottom: 20px;
  display: block;
}

.nextRoof,
.nextFloor {
  text-align: left;
  padding-left: 50px;
  position: relative;
  width: 265px;
}
.nextRoof::after,
.nextFloor::after {
  content: "";
  display: block;
  clip-path: polygon(0 0, 100% 0, 95% 100%, 0% 100%);
  background: #d8d8d8;
  height: 21px;
  position: absolute;
  width: 264px;
  top: 100%;
  left: 0;
}

.nextRoof {
  height: 90px;
  padding-top: 15px;
}

.nextFloor,
.lastFloor {
  height: 60px;
}

.lastFloor {
  width: 265px;
}

.entry {
  width: 104px;
  height: 66px;
  background: #d8d8d8;
  display: block;
  position: absolute;
  top: 669px;
}

.wall {
  width: 161px;
  height: 85px;
  position: absolute;
  left: 104px;
  top: 669px;
}

.logIn,
.subscribe {
  display: inline-block;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 4.07px;
}

.link {
  color: #e20606;
  display: inline-block;
  padding-right: 30px;
}

.btnGoToRLG {
  width: 79px;
  height: 100%;
  background-color: #73060F;
  grid-column: 3/4;
  grid-row: 1;
  justify-self: end;
}

.backgroundRed {
  background-color: #73060F;
  height: 100vh;
  padding-left: 5%;
  padding-top: 5%;
  position: relative;
}

.backgroundWhite {
  background-color: white;
  height: 100%;
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 46% 1fr 20%;
}

.homePageContainer {
  display: grid;
  grid-template-columns: 40% 1fr;
}

.homeDescription {
  color: #73060F;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  position: absolute;
  right: 3%;
  top: 77%;
  text-align: right;
  width: 242px;
}

.bntMenu {
  color: #dfe2df;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 9.075px;
  margin-top: 2%;
}

.line {
  cursor: pointer;
  background: var(--the-color);
  color: var(--the-color);
  text-align: center;
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.line span {
  user-select: none;
  background: #fff8;
  font-family: sans-serif;
  letter-spacing: 1px;
  padding: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.line button {
  position: absolute;
  width: 0px;
  height: 0px;
  padding: 3px;
  background: var(--the-color);
  border: 0;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.line button:nth-child(1) {
  top: -2px;
  left: -2px;
}
.line button:nth-child(2) {
  bottom: -2px;
  right: -2px;
}
.line[mouse_orientation="0"] button {
  cursor: ew-resize;
}
.line[mouse_orientation="1"] button {
  cursor: ns-resize;
}
.line[target_line] {
  box-shadow: 0 0 5px -0.25px #00f;
}
.line [vertical=true] {
  margin-top: 35px;
}
.line [vertical=false] {
  margin-top: -35px;
}
.line [horizontal=true] {
  margin-left: 65px;
}
.line [horizontal=false] {
  margin-left: -65px;
}

.top {
  z-index: 3;
  height: 42px;
  background-color: #73060F;
  background: -webkit-linear-gradient(left, #73060F, #730628ee);
  background: linear-gradient(left, #73060F, #730628ee);
  box-shadow: 0 0 50px -15px #fff;
}

.bottom {
  bottom: 0;
  z-index: 3;
}
.bottom button {
  cursor: pointer;
}

.invisible {
  display: none;
}

.initial-inputs,
.principalTools,
.actionTools {
  margin: 5px auto;
  padding: 0px;
}

label[for=image-input], .tool {
  outline: none;
  transition: 0.25s;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -ms-transition: 0.25s;
  -o-transition: 0.25s;
  box-shadow: 0 0 #fff0;
}
label[for=image-input]:hover, label[for=image-input]:focus, .tool:hover, .tool:focus {
  cursor: pointer;
  content: "";
  box-shadow: 0 2.5px #ffffff;
}

label[for=image-input] {
  position: relative;
  padding: 8px 0;
}
label[for=image-input]:before {
  content: "";
  width: 20px;
  height: 35px;
  position: absolute;
  display: block;
  top: 5px;
  left: 0;
  cursor: pointer;
}

.tool {
  margin: 0;
  padding: 0;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  padding: 10px 10px;
}

.home {
  background-image: url("../img/Back to home.png");
}

.image-file {
  background-image: url("../img/image.png");
}

.arrow {
  background-image: url("../img/Mouse_selection.png");
}

.lineTool {
  background-image: url("../img/Line.png");
}

.text {
  background-image: url("../img/Text.png");
}

.eraser {
  background-image: url("../img/Eraser.png");
}

.rule {
  background-image: url("../img/Ruler.png");
}

.crop {
  background-image: url("../img/Crop.png");
}

.delete {
  background-image: url("../img/Delete file.png");
}

.save {
  background-image: url("../img/Save.png");
}

.download {
  background-image: url("../img/Download.png");
}

.settings {
  background-image: url("../img/Config.png");
}

#images-controller {
  z-index: 2;
  overflow-y: auto;
  overflow-x: hidden;
  list-style: none;
  position: fixed;
  height: 100vh;
  width: 75px;
  left: -185px;
  margin: 0;
  padding: 50px;
  padding-right: 135px;
  box-sizing: border-box;
  direction: rtl;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
#images-controller::after, #images-controller::before {
  content: "";
  position: fixed;
  margin: auto;
}
#images-controller::after {
  width: 10px;
  height: 10px;
  background: #73060F;
  top: 0;
  left: 9.5px;
  bottom: 0;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  box-shadow: 0 -20px 0 0px #73060F, 0 20px 0 0px #73060F, 0 20px 50px 5px #ffffff, 0 -20px 50px 5px #ffffff, 0 0px 50px 5px #ffffff;
}
#images-controller::before {
  width: 25px;
  height: 85px;
  background: #fff0;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  display: block;
  transition: 2.5s;
  -webkit-transition: 2.5s;
  -moz-transition: 2.5s;
  -ms-transition: 2.5s;
  -o-transition: 2.5s;
  border-radius: 0 10px 10px 0;
  -webkit-border-radius: 0 10px 10px 0;
  -moz-border-radius: 0 10px 10px 0;
  -ms-border-radius: 0 10px 10px 0;
  -o-border-radius: 0 10px 10px 0;
}
#images-controller:hover {
  left: 0;
}
#images-controller:hover::before, #images-controller:hover::after {
  left: -50px;
  box-shadow: 0 0px, 0 0px;
  height: 0px;
}
#images-controller li {
  margin: 20px -70px;
  position: relative;
}
#images-controller li a > img {
  box-shadow: 0 0 50px -5px #73060f;
  position: relative;
  z-index: 1;
  cursor: pointer;
  width: 75px;
  height: 75px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
#images-controller li:hover button {
  opacity: 1;
}
#images-controller button {
  border: 0;
  cursor: pointer;
  outline: none;
  opacity: 0;
  background: #00000088;
  padding: 7.5px 7.5px 7.5px 14px;
  top: 20px;
  right: 0;
  position: absolute;
  transition: 0.25s;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -ms-transition: 0.25s;
  -o-transition: 0.25s;
  border-radius: 0 50% 50% 0;
  -webkit-border-radius: 0 50% 50% 0;
  -moz-border-radius: 0 50% 50% 0;
  -ms-border-radius: 0 50% 50% 0;
  -o-border-radius: 0 50% 50% 0;
}
#images-controller button img {
  height: 17.5px;
  width: 17.5px;
  background-size: contain;
  background-repeat: no-repeat;
}

#image-wrapper {
  display: grid;
  place-items: center;
  margin: 0 0 42px;
}
#image-wrapper img {
  position: absolute;
  user-select: none;
  display: block;
  margin: auto;
  box-shadow: 0 0 100px -50px;
}
#image-wrapper .imgSegment::after {
  display: block;
  content: "";
  width: var(--width);
  height: var(--height);
  top: 0;
  left: 0;
  position: relative;
  z-index: 1;
}

[screenShotHide] {
  text-align: center;
  color: #fff;
}

.hide {
  display: none;
}

.activated {
  background: #ffffff;
  box-shadow: 0 0 10px -5px #ffffff;
}

/*# sourceMappingURL=style.css.map */
