html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background: #D8D8D8;
    & > section {
        z-index: 2;
        width: 100%;
        position: fixed;
        display: flex;
        background: #0008;
        justify-content: space-between;
    }
}