//Tools menu styles
.principalTools {
	margin: 0 auto;
  padding: 10px;
}

/*.image-file {
  background-image: url("../img/image.png");
	@include btnToolStyles;
}*/

.arrow {
  background-image: url("../img/Mouse_selection.png");
	@include btnToolStyles;
}

.lineTool {
  background-image: url("../img/Line.png");
	@include btnToolStyles;
}

.text {
  background-image: url("../img/Text.png");
	@include btnToolStyles;
}

.eraser {
  background-image: url("../img/Eraser.png");
	@include btnToolStyles;
}

.rule {
  background-image: url("../img/Ruler.png");
	@include btnToolStyles;
}

.crop {
  background-image: url("../img/Crop.png");
	@include btnToolStyles;
}

.actionTools{
	
}

.delete{
	background-image: url('../../img/');
}

.save{
	background-image: url('');
}

.download{
	background-image: url('');
}

.settings{
	background-image: url('');
}