#image-wrapper {
    display: grid;
    place-items: center;
    margin: 0 0 $vertical-spacing;

    img {
        position: absolute;
        user-select: none;
        display: block;
        margin: auto;
        box-shadow: 0 0 100px -50px;
    }

    // .imgSegment {
    //     position: relative;
    // }
    
    .imgSegment::after {
        display: block;
        content: '';
        width: var(--width);
        height: var(--height);
        top: 0;
        left: 0;
        position: relative;
        z-index: 1;
    }
}