#images-controller {
    z-index: 2;
    overflow-y: auto;
    overflow-x: hidden;
    list-style: none;
    position: fixed;
    height: 100vh;
    width: 75px;
    left: -185px;
    margin: 0;
    padding: 50px;
    padding-right: 135px;
    box-sizing: border-box;
    direction: rtl;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;

    &::after,
    &::before {
        content: '';
        position: fixed;
        margin: auto;
    }

    &::after {
        width: 10px;
        height: 10px;
        background: $primary-color;
        top: 0;
        left: 9.5px;
        bottom: 0;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
        box-shadow: 0 -20px 0 0px $primary-color,
            0 20px 0 0px $primary-color,
            0 20px 50px 5px $white,
            0 -20px 50px 5px $white,
            0 0px 50px 5px $white;
    }

    &::before {
        width: 25px;
        height: 85px;
        background: #fff0;
        top: 0;
        bottom: 0;
        margin: auto;
        left: 0;
        display: block;
        transition: 2.5s;
        -webkit-transition: 2.5s;
        -moz-transition: 2.5s;
        -ms-transition: 2.5s;
        -o-transition: 2.5s;
        border-radius: 0 10px 10px 0;
        -webkit-border-radius: 0 10px 10px 0;
        -moz-border-radius: 0 10px 10px 0;
        -ms-border-radius: 0 10px 10px 0;
        -o-border-radius: 0 10px 10px 0;
    }

    &:hover {
        left: 0;
    }

    &:hover::before,
    &:hover::after {
        left: -50px;
        box-shadow: 0 0px,
            0 0px;
        height: 0px;
    }

    li {
        margin: 20px -70px;
        position: relative;
    }

    li a>img {
        box-shadow: 0 0 50px -5px #73060f;
        position: relative;
        z-index: 1;
        cursor: pointer;
        width: 75px;
        height: 75px;
        object-fit: cover;
        object-position: center;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }

    li:hover button {
        opacity: 1;
    }

    button {
        border: 0;
        cursor: pointer;
        outline: none;
        opacity: 0;
        background: $black;
        padding: 7.5px 7.5px 7.5px 14px;
        top: 20px;
        right: 0;
        position: absolute;
        transition: 0.25s;
        -webkit-transition: 0.25s;
        -moz-transition: 0.25s;
        -ms-transition: 0.25s;
        -o-transition: 0.25s;
        border-radius: 0 50% 50% 0;
        -webkit-border-radius: 0 50% 50% 0;
        -moz-border-radius: 0 50% 50% 0;
        -ms-border-radius: 0 50% 50% 0;
        -o-border-radius: 0 50% 50% 0;
    }

    button img {
        height: 17.5px;
        width: 17.5px;
        background-size: contain;
        background-repeat: no-repeat;
    }
}